.colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}
.colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
}

#customWidget {
    position: relative;
    height: 36px;
}

div.tp-dottedoverlay.twoxtwo{
    background:rgba(0,0,0,0.65);
    background-image:none;
}
.tp-revslider-mainul{
    position: relative;
}
.tp-revslider-mainul:before{
    background:rgba(0,0,0,0.65);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
}
.menu_color_item{
    padding:5px 0;
    clear:both;
}
.menu_color_item span{
    float:left;
    color:#eee;
    line-height: 36px;
}
.menu_color_item .colorSelector,
.general_color  .colorSelector{
    float:right;
    margin-right: 5px;
}

div .wpb_gallery .wpb_flexslider .flex-direction-nav a{
    border:1px solid #fff;
    text-shadow: none;
}
div .tz-home2-find-courses .flex-direction-nav a::before{
    border:none;
}

.tribe-events-meta-group span{
    display:inline;
}
.tribe-events-meta-group dl dt{
    float:left;
    padding-right:5px !important;
    line-height: 20px !important;
}
.tribe-events-meta-group .location{
    padding:10px 0;
}
.clr{
    clear: both;
}


div.radio{
    margin-bottom:32px;
}
div.radio label{
    padding-bottom: 20px;
}
div.radio ul li{
    font-size:13px;
    padding:3px 0;
}
div.radio label strong{
    font-size:17px;
}
/**
 * 4.22 - Live Demo
 * -----------------------------------------------------------------------------
 */
.livedemo{
    /*display: none;*/
    width: 250px;
    height: auto;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 999;
    bottom:0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    background: #252525;
    }
.live_content_first{
    padding-bottom:0;
}
.livedemo.liveeff{
    left: 0;
}
.live-content ul li.iconclick{
    cursor: pointer;
    float: left;
    margin: 5px;
    position: relative;
    width: 62px;
    height:62px;
}

.live_copy{
    color:#ccc;
    font-size: 14px;
    padding-top: 50px;
}
.live_copy a{
    color:#fff;
}
.cog-button{
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 3px 0;
    text-align: center;
    width: 45%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-decoration: none;
    float:left;
}
.cog-button:hover{
    color:#252525;
    background: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.cog-button-active{
    background: #fff;
    color:#252525;
}
.cog-button:focus{
    color:#252525;
    text-decoration: none;
}
.live-content h4{
    text-transform: uppercase;
    color:#fff;
    font-size:14px;
    font-weight: normal;
    position: relative;
    margin-bottom: 20px;
}
.general_color{

}
span.space{
    background: rgba(255,255,255,0.45);
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    margin: 30px 0 25px;
}
body a.reset{
    border:1px solid rgba(255,255,255,0.5);
    color:#eee;
    display:inline-block;
    padding:5px 20px;
}
body a.reset:hover{
    background:#ff5400;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color:#fff;
    text-decoration: none;
}
.btn_reset{
    clear:both;
    text-align: right;
    margin-top: 30px;
    padding-right: 5px;
}
.live_icon{
    background: #252525 ;
    color: #fff;
    height: 50px;
    padding: 0;
    margin: 0;
    width:50px;
    position: absolute;
    top:200px;
    right:-50px;
    font-size:20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.live_title em{
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.content span.color{
    float:left;
    height:40px;
    width:40px;
    margin:5px;
    cursor: pointer;
    position:relative;
}
.content span.color.active:after{
    content:"\f00c";
    position:absolute;
    color:#fff;
    font-size:14px;
    top:9px;
    left:12px;
    font-family: FontAwesome;
}
.content span.color.color_blue{
    background:#199cdb;
}
.content span.color.color_red{
    background:#DF4A43;
}
.content span.color.color_orange{
    background:#FF5500;
}
.content span.color.color_pink{
    background:#fa0dbb;
}
.content span.color.color_red2{
    background:#ff002b;
}
.content span.color.color_blue2{
    background:#0055ff;
}
.content span.color.color_pink2{
    background:#c266ff;
}
.content span.color.color_yellow{
    background:#ffcc00;
}
.live_title:after{
    clear: both;
    display: table;
    content: '';
}
.live_title span{
    float: right;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}
.live_title span i{
    font-size: 17px;
    line-height: 40px;
}
.live-content{
    width: 100%;
    padding: 30px 15px;
    text-align: left;
    overflow-y: auto;
    height:100%;
}
.live-content .live-t{
    color: #444444;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 10px 0 5px;
    text-transform: uppercase;
}
.live-content .live-bk{
    color: #444444;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 10px 0 5px;
    text-transform: uppercase;
}

.live-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.live-content ul:after{
    clear: both;
    display: table;
    content: '';
}
.live-content ul li{
    float: left;
    padding: 5px;
    cursor: pointer;
    position: relative;
}
.live-content ul li img{
    width: 50px;
}
.live-content ul.live-patterns li{
    padding: 3px;
}
.live-content ul.live-patterns li img{
    width: 35px;
}
.live-bkcontro{
    display: none;
}
.livebox li{
    border: 1px solid #d65679;
}
.live-content ul.livebox{
    padding: 5px;
}
.live-content ul.livebox li{
    margin-right: 10px;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
}
.live-content ul.livebox li:hover,
.live-content ul.livebox li.lactive{
    background: #d65679;
    color: #fff;
}
.live-content ul.livebox li:hover span{
    color: #fff;
}
.iactive:after{
    color: #fff;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 13px;
    left: 43%;
    position: absolute;
    top: 25%;
}
.iactive2:after{
    color: #d65679;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 13px;
    left: 35%;
    position: absolute;
    top: 15%;
}
@media (max-width: 768px){
    .livedemo{
        display: none;
    }
}
@media (max-width: 1280px){
    .livedemo{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}