/*******************************
****Stones Trailer Custom Style**
**********************/
header .tz-menu-header .tz_logo{
	padding-left:5px;
	padding-right:5px;
}
.service-item-center{
	text-align:center;
	display:inline-block !important;
}
.service-item-center ul{
	text-align:left;
	margin-left:120px
}
.service-item-center .autoshowroom-service-icon{
	margin:0 auto;
	margin-bottom:20px;
}
.autoshowroom-ads .autoshowroom-ads-text{
	width:80%;
}
.autoshowroom-ads .autoshowroom-ads-image{
	width:0%;
}
.container-content .vehicle-layout-list .vehicle-grid .TZ-Vehicle-Grid .item .pcd-pricing{
	top:unset;
	bottom:12px; 
}
.md-6{
	width: 46% !important;
}
