/**
* 1.0 - Reset
* -----------------------------------------------------------------------------
*/
.autoshowroom-footer .autoshowroom-footer-top {background-image:url(http://wordpress.templaza.net/autoshowroom/wp-content/uploads/2016/01/bg-footer.jpg);background-position: center top;background-repeat: no-repeat;background-size: cover;}