/**
* 1.0 - Reset
* -----------------------------------------------------------------------------
*/
body#bd {background: url("") no-repeat fixed center center / cover transparent !important;}.autoshowroom-footer .autoshowroom-footer-top {background-image:url(http://wordpress.templaza.net/autoshowroom/wp-content/uploads/2016/01/bg-footer.jpg);background-position: center top;background-repeat: no-repeat;background-size: cover;}